* {
  margin: 0;
}

.interval-app {
  min-height: 100vh;
  display: flex;
}

.interval-bar {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interval-bar__top--min-second,
.interval-bar__bottom--maj-seventh,
.interval-bar__top--maj-second,
.interval-bar__bottom--min-seventh,
.interval-bar__top--min-third,
.interval-bar__bottom--maj-sixth,
.interval-bar__top--maj-third,
.interval-bar__bottom--min-sixth,
.interval-bar__top--perf-fourth,
.interval-bar__bottom--perf-fifth,
.interval-bar__aug-fourth,
.interval-bar__octave {
  display: grid;
  place-items: center;
  width: 100%;
}

.interval-bar__top--min-second,
.interval-bar__top--maj-second,
.interval-bar__top--min-third,
.interval-bar__top--maj-third,
.interval-bar__top--perf-fourth,
.interval-bar__octave {
  background-color: #191919;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.interval-bar__bottom--maj-seventh,
.interval-bar__bottom--min-seventh,
.interval-bar__bottom--maj-sixth,
.interval-bar__bottom--min-sixth,
.interval-bar__bottom--perf-fifth,
.interval-bar__aug-fourth {
  border-bottom: 2px black solid;
  border-right: 2px black solid;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

/* Column One */
.interval-bar__top--min-second {
  flex: 1 1 22%
}
.interval-bar__bottom--maj-seventh {
  flex: 1 1 78%;
}

/* Column Two */
.interval-bar__top--maj-second {
  flex: 1 1 28%
}
.interval-bar__bottom--min-seventh {
  flex: 1 1 72%;
}

/* Column Three */
.interval-bar__top--min-third {
  flex: 1 1 34%
}
.interval-bar__bottom--maj-sixth {
  flex: 1 1 66%;
}

/* Column Four */
.interval-bar__top--maj-third {
  flex: 1 1 40%
}
.interval-bar__bottom--min-sixth {
  flex: 1 1 60%;
}

/* Column Five */
.interval-bar__top--perf-fourth {
  flex: 1 1 46%
}
.interval-bar__bottom--perf-fifth {
  flex: 1 1 54%;
}

/* Column Six */
.interval-bar__aug-fourth {
  flex: 1 1 auto;
}

/* Column Seven */
.interval-bar__octave {
  flex: 1 1 auto;
}

.interval-name p,
.interval-name--white p {
  text-align: center;
}

.interval-name--white p {
  color: white;
}

@media screen and (max-width: 420px) {
  .interval-app {
    display: inline;
  }

  .interval-bar__top--min-second,
  .interval-bar__bottom--maj-seventh,
  .interval-bar__top--maj-second,
  .interval-bar__bottom--min-seventh,
  .interval-bar__top--min-third,
  .interval-bar__bottom--maj-sixth,
  .interval-bar__top--maj-third,
  .interval-bar__bottom--min-sixth,
  .interval-bar__top--perf-fourth,
  .interval-bar__bottom--perf-fifth,
  .interval-bar__aug-fourth,
  .interval-bar__octave {
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 30px 0;
  }
}