.player-widget {
    display: flex;
    flex-direction: column;
}

.player-widget .interval-song-name p {
    font-size: 16px;
    text-align: center;
}

.player-widget .interval-song-name--white p {
    font-size: 16px;
    text-align: center;
    color: white;
}

.downward {
order: 2;
}

.player-widget button {
    border: 0;
    padding: 0;
    background-color: transparent;
  }

.player-ui {
    display: flex;
    justify-content: space-evenly;
}